* {
  margin: 0;
  padding: 0;
}

img {
  width:50px ;
}

#face {
  width: 50vw;
}

#eyes1 {
  position: absolute;
  left: 11vw;
  top: 20vw;
  width: 28vw;
}

#hair1 {
  position: absolute;
  left: 5vw;
  top: -2vw;
  width: 40vw;
}

#sunglasses {
  position: absolute;
  left: 11vw;
  top: 25vw;
  width: 28vw;
}

#mouth1 {
  position: absolute;
  left: 14vw;
  top: 38vw;
  width: 20vw;
}

#moustache {
  position: absolute;
  left: 14vw;
  top: 32vw;
  width: 20vw;
}

#nose2 {
  position: absolute;
  left: 20vw;
  top: 25vw;
  width: 10vw;
}

#ears1 {
  position: absolute;
  left: 0vw;
  top: 15vw;
  width: 48vw;
}