* {
  margin: 0;
  padding: 0;
}

img {
  width:50px ;
}

#face {
  width: 50vw;
}

#eyes1 {
  position: absolute;
  align: left;
  left: 11vw;
  top: 20vw;
  width: 28vw;
}

#hair1 {
  position: absolute;
  align: left;
  left: 5vw;
  top: -2vw;
  width: 40vw;
}

#sunglasses {
  position: absolute;
  align: left;
  left: 11vw;
  top: 25vw;
  width: 28vw;
}

#mouth1 {
  position: absolute;
  align: left;
  left: 14vw;
  top: 35vw;
  width: 20vw;
}
